$primary: #b8e0d2;
$secondary: #95b8d1;
$text-color: #eeeeee;
$text-color-dark: #222831;

$bg-color: #222831;
$nav-color: #00acb5;
$hr-color: #00acb5;
$nav-color-selected: #00777d;
$tile-title-color: #424242;
$tile-shadow-color: #393e46;
