$media-tablet-up: 48rem;

$navigation-height: 2.25rem;

$sidebar-width: 17.5rem;

$border-line: 0.0625rem;

$cast-image-size: 9.375rem;
$tile-width: 15.625rem;
$tile-height: 12.5rem;
$tile-height-square: 15.625rem;

$spacing-small: 0.9375rem;
$spacing-small-s: 0.625rem;
$spacing-small-xs: 0.3125rem;

$spacing-normal: 1.25rem;
$spacing-normal-m: 1.5625rem;
$spacing-normal-xl: 2.5rem;

$spacing-large: 3.75rem;
$spacing-large-s: 3.125rem;
