.details-wrapper {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: calc(100vh - ($spacing-large * 2));
  padding: $spacing-small;
  gap: $spacing-normal-xl;

  @media (min-width: $media-tablet-up) {
    padding: $spacing-large;
  }

  @media (min-width: $media-tablet-up) {
    flex-direction: row;
  }

  hr {
    color: $hr-color;
  }
  .side-bar {
    width: 100%;

    @media (min-width: $media-tablet-up) {
      max-width: $sidebar-width;
      width: 100%;
    }

    &-wrapper {
      display: flex;
      flex-direction: column;
      gap: $spacing-normal;
      height: calc(100% - $spacing-normal-xl);
      padding: $spacing-normal;

      .image {
        img {
          border-radius: $spacing-small;

          box-shadow: 0 0 2px 2px $text-color;
        }
      }

      .show-info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: $spacing-normal;
        height: 100%;
        align-items: flex-start;

        @media (min-width: $media-tablet-up) {
          flex-direction: column;
          gap: $spacing-small;
          justify-content: initial;
        }

        .rating {
          display: block;
          text-align: flex-start;
        }
        .genres {
          display: block;
          text-align: left;

          .genre {
            margin: 0;
            padding-left: $spacing-small-xs;
          }
        }

        .language {
          display: block;
          text-align: flex-start;
        }
      }
    }
  }
  .content {
    width: 100%;
    height: 100%;

    &-wrapper {
      .title {
        display: block;
        text-align: left;
        margin-left: $spacing-normal;
      }
      .summary-wrapper {
        display: flex;
        flex-direction: column;
        gap: $spacing-normal;
        height: 100%;
        padding: $spacing-normal;

        .summary-title {
          display: block;
          text-align: left;
        }
        .summary {
          display: block;
          text-align: left;
        }
      }

      .cast-wrapper {
        display: flex;
        flex-direction: column;
        gap: $spacing-normal;
        height: 100%;
        padding: $spacing-normal;

        @include scroll-bar;

        .cast-title {
          display: block;
          text-align: left;
        }
        .cast-content {
          display: flex;
          flex-direction: row;
          gap: $spacing-normal-xl;
          justify-content: center;
          max-height: 450px;
          align-items: left;
          flex-wrap: wrap;
          overflow: auto;

          .cast-member {
            display: flex;
            flex-direction: column;
            gap: $spacing-small-s;
            height: 100%;
            align-items: middle;

            .cast-member-image {
              display: block;

              img {
                border-radius: 50%;
                width: $cast-image-size;
                height: $cast-image-size;
                object-fit: cover;
                object-position: top;
              }
            }
            .cast-member-name,
            .cast-member-character-name {
              max-width: $cast-image-size;
              display: block;
              p {
                margin: 0;
              }
            }
          }
        }
      }
    }
  }
}
