.details-wrapper {
  display: flex;
  width: 100vw;
  height: calc(100vh - ($spacing-large * 2));
  padding: $spacing-large;

  .side-bar {
    max-width: $sidebar-width;
    height: 100%;
    background-color: red;

    &-wrapper {
      display: flex;
      flex-direction: column;
      gap: $spacing-normal;
      height: calc(100% - $spacing-normal-xl);
      padding: $spacing-normal;
      background-color: green;

      .image {
        img {
          border-radius: $spacing-small;
        }
      }

      .show-info {
        display: flex;
        flex-direction: column;
        gap: $spacing-normal;
        height: 100%;
        background-color: yellow;
        align-items: flex-start;

        .rating {
          display: block;
          text-align: flex-start;
        }
        .genres {
          display: block;
          text-align: left;

          .genre {
            margin: 0;
            padding-left: $spacing-small-s;
          }
        }

        .language {
          display: block;
          text-align: flex-start;
        }
      }
    }
  }
  .content {
    width: 100%;
    height: 100%;
    background-color: blue;

    &-wrapper {
      .title {
        display: block;
        text-align: left;
      }
      .summary-wrapper {
        display: flex;
        flex-direction: column;
        gap: $spacing-normal;
        height: 100%;
        padding: $spacing-normal;
        background-color: green;

        .summary-title {
          display: block;
          text-align: left;
        }
        .summary {
          display: block;
          text-align: left;
        }
      }

      .cast-wrapper {
        display: flex;
        flex-direction: column;
        gap: $spacing-normal;
        height: 100%;
        padding: $spacing-normal;
        background-color: green;

        .cast-title {
          display: block;
          text-align: left;
        }
        .cast-content {
          display: flex;
          flex-direction: row;
          gap: $spacing-normal-xl;
          // max-height: 100%;
          background-color: yellow;
          justify-content: center;
          max-height: 500px;
          align-items: left;
          flex-wrap: wrap;
          overflow: auto;

          .cast-member {
            display: flex;
            flex-direction: column;
            gap: $spacing-small-s;
            height: 100%;
            align-items: middle;

            .cast-member-image {
              display: block;

              img {
                border-radius: 50%;
                width: $cast-image-size;
                height: $cast-image-size;
                object-fit: cover;
                object-position: top;
              }
            }
            .cast-member-name,
            .cast-member-character-name {
              max-width: $cast-image-size;
              display: block;
              p {
                margin: 0;
              }
            }
          }
        }
      }
    }
  }
}
